*.o
*.a
*~
.deps
.dirstamp
.DS_Store
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
config.h
depcomp
install-sh
Makefile
Makefile.in
missing
stamp-h1
src/pianod
src/include/*.h
